<aside>
    <nav>
        <header class="mb-6 flex justify-center mt-10">
            <img src="/images/faclab-logo-light.svg" class="w-22" alt="">
        </header>

        <ul>
            <li>
                <a href="/visiteurs" class="{{ 'bg-green-numixs text-black-numixs' if (active_menu_item == "visiteurs") else "text-green-numixs" }} title-font text-3xl block py-2 px-5 rounded-md hocus:bg-[#504F4F] hocus:text-green-numixs">Visites</a>
            </li>
        </ul>
    </nav>
</aside>
