<div popover id="calendar" class="calendar-wrapper overflow-hidden sm:w-3/4 max-w-5xl">
    <div class="calendar">
        <div class="flex justify-between items-center mx-4 mt-2">
            <p class="text-xl font-bold">Choisir un jour</p>
            <a href="{{ todayLink }}{{ formatQueryParams({ lieu: lieu or "" }, true) }}" class="underline hocus:no-underline">Aujourd'hui</a>
        </div>
        <nav class="flex">
            <button type="button" data-navigation-month="prev" class="navigation-month py-2.5 px-3.5 hocus:bg-green-numixs flex flex-row gap-2 items-center" title="Mois précédent">
                <span class="flex items-center justify-center w-3.5">
                    {% include "includes/icons/arrow-icon.svg" %}
                </span>
                <span data-month="prev">Mars</span>
            </button>
            <div class="flex-1 px-6 py-4 relative">
                {# <label for="mois" class="text-sm absolute top-0 left-6">Mois</label> #}
                <select id="mois" class="w-full reset-select border-0" data-calendar-select="month">
                    {% for month in list_months %}
                        <option value="{{ loop.index }}">{{ month }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="flex-1 px-6 py-4 relative">
                {# <label for="annee" class="text-sm absolute top-0 left-6">Année</label> #}
                <select id="annee" class="w-full reset-select border-0" data-calendar-select="year">
                    {% for year in range(2024, 2035) %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="button" data-navigation-month="next" class="navigation-month py-2.5 px-3.5 hocus:bg-green-numixs flex flex-row gap-2 items-center" title="Mois suivant">
                <span data-month="next">Mars</span>
                <span class="rotate-180 flex items-center justify-center w-3.5">
                    {% include "includes/icons/arrow-icon.svg" %}
                </span>
            </button>
        </nav>
        <ol class="weeks title-font">
            <li>LUN</li>
            <li>MAR</li>
            <li>MER</li>
            <li>JEU</li>
            <li>VEN</li>
            <li>SAM</li>
            <li>DIM</li>
        </ol>

        <ol class="days" data-list-days></ol>
    </div>
</div>

<template data-template-id="calendar-day">
    <li>
        <a href="" class="hocus:bg-green-numixs/40 rounded-md">
            <time datetime=""></time>
        </a>
    </li>
</template>
