<a href="?current_date={{ current_date|add_days(-1)|date("yyyy-LL-dd") }}" class="py-2.5 px-3.5 border-black-numixs border rounded-md flex items-center justify-center hocus:bg-green-numixs">
    <span class="sr-only">Hier</span>
    <span class="flex items-center justify-center w-3.5">
        {% include "includes/icons/arrow-icon.svg" %}
    </span>
</a>
<button class="py-2.5 px-5 border-black-numixs border rounded-md relative hocus:bg-green-numixs flex gap-2.5 flex-row items-center justify-center current-day flex-1 sm:flex-none" commandfor="calendar" command="toggle-popover">
    {% include "includes/icons/calendar-icon.svg" %}
    <span class="pointer-events-none hidden sm:inline">{{ "Aujourd'hui" if is_today else current_date|date("EEEE dd LLLL yyyy")  }}</span>
    <span class="pointer-events-none inline sm:hidden">{{ "Aujourd'hui" if is_today else current_date|date("dd/LL/yyyy")  }}</span>
</button>
<a href="?current_date={{ current_date|add_days(1)|date("yyyy-LL-dd") }}" class="py-2.5 px-3.5 border-black-numixs border rounded-md flex items-center justify-center hocus:bg-green-numixs">
    <span class="sr-only">Demain</span>
    <span class="rotate-180 flex items-center justify-center w-3.5">
        {% include "includes/icons/arrow-icon.svg" %}
    </span>
</a>