{% macro switch (label, name = "", value = "", color = "", ring_color = "", options = {"children": null, "label_classes": "text-2xl"}) %}
    {% set default_options = {"children": null, "label_classes": "text-2xl"} %}
    <div class="w-full text-black switch-container title-font font-bold bg-[#F5F5F5] p-3 rounded-md h-fit">
        <label class="w-full justify-between inline-flex items-center cursor-pointer {{ options.label_classes if options.label_classes else default_options.label_classes }}">
            <input type="checkbox" value="{{ value }}" name="{{ name }}" class="sr-only peer" data-input-switch-toggle="{{ name }}">
            <span>{{ label }}</span>
            <div class="switch relative border-solid border-black-numixs/30 border w-11 h-6 bg-[#C3CAD8] peer-focus:outline-none peer-focus:ring-4 {{ ring_color }} rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:bg-black-numixs peer-checked:after:border-black-numixs after:content-[''] after:absolute after:border-black-numixs/30 after:top-[1px] after:start-[1px] after:bg-white after:border after:rounded-full after:h-5 after:w-5 after:transition-all {{ color }}"></div>
        </label>
        {% set children = options.children if options.children else default_options.children %}
        {{ children | safe }}
    </div>
{% endmacro %}


{% macro split_button(main_action, list_sub_actions = []) %}
    <div class="split-button bg-green-700 self-start md:self-center">
        {{ main_action | safe }}

        <span class="popup-button z-50" aria-haspopup="true" aria-expanded="false" title="Ouvrir pour plus de choix">
            <svg aria-hidden="true" viewBox="0 0 20 20" style="anchor-name: --split-button;">
                <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
            </svg>
            <script>
                const popupButton = document.querySelector(".popup-button");
                popupButton.addEventListener("click", (e) => {
                    e.currentTarget.querySelector("a, button").focus();
                });
            </script>
            <ul class="split-popup bg-slate-50 shadow-2xl">
                {% for action in list_sub_actions %}
                    <li>
                        {{ action | safe }}
                    </li>
                {% endfor %}
            </ul>
        </span>
    </div>
{% endmacro %}
