{% set navigation = [
    {
        label: "S'inscrire",
        url: '/'
    }, {
        label: "Découvrir le FacLab®",
        url: '/'
    }, {
        label: "L'équipe",
        url: '/'
    }, {
        label: "Réservation",
        url: '/'
    }
] %}

<nav class="sticky top-2 mt-4 px-1.5 z-30">
    <a class="mb-2.5 block w-fit mx-auto" href="">
        <img src="/images/faclab-logo.svg" class="w-20 mx-auto block" alt="">
    </a>
    <ul class="flex flex-row gap-2.5 w-fit items-center mx-auto bg-white py-1 px-4 rounded-4xl border-2 border-green-numixs border-solid">
        {# <li>
            <a href="">
                <img src="/images/faclab-logo.svg" class="w-12 mx-auto block" alt="">
            </a>
        </li> #}
        {% for nav_item in navigation %}
            <li>
                <a class="block py-1 px-2.25 rounded-4xl" href="{{ nav_item.url }}">{{ nav_item.label }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
