{% set navigation = [
    {
        label: "S'inscrire",
        url: '/'
    }, {
        label: "Découvrir le FacLab®",
        url: '/'
    }, {
        label: "L'équipe",
        url: '/'
    }, {
        label: "Matériel",
        url: '/'
    }
] %}

<nav class="sticky top-2 mt-4">
    <ul class="flex flex-row gap-2.5 w-fit mx-auto bg-white-numixs py-1 px-4 rounded-4xl">
        {% for nav_item in navigation %}
            <li>
                <a class="block py-1 px-2.25 rounded-4xl" href="{{ nav_item.url }}">{{ nav_item.label }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
