<ol class="flex flew-row items-center w-fit px-5 mx-auto gap-2 mt-5 border border-black/20 rounded-3xl outline-4 outline-green-numixs/30">
    <li class="mr-2">
        <a class="p-2 relative pagination inline-flex" href="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 relative z-20">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"/>
            </svg>
        </a>
    </li>
    <li>
        <a href="" class="p-2 pagination inline-flex">
            <span class="relative z-10">1</span>
        </a>
    </li>
    <li>
        <a href="" class="p-2 pagination-active text-green-numixs inline-flex">
            <span class="relative z-10">2</span>
        </a>
    </li>
    <li>
        <a href="" class="p-2 pagination inline-flex">3</a>
    </li>
    <li class="ml-2">
        <a class="p-2 pagination inline-flex" href="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 relative z-20">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
            </svg>
        </a>
    </li>
</ol>
