*Dockerfile
.dockerignore
node_modules
.npm
dist

*.sqlite
*.md
*.yml
*.tmp.*

.editorconfig
.env.dist
config.local.json
.vscode
LICENSE

# Git & editor
.git
.gitignore
.gitattributes
.vscode
.idea
*.swp
*.swo
