VITE_PORT=3900
FORM_RESULT_TIMEOUT=8000
# MUST BE 32 chars long at least
JWT_SECRET=
# MUST BE 32 chars long at least
JWT_ACTIVATION_SECRET=
JWT_ACTIVATION_EXPIRE_TIME=1d
# MUST BE 32 chars long at least
JWT_PASSKEY_SECRET=
JWT_PASSKEY_EXPIRE_TIME=1d
ADMIN_SUFFIX=
EMAIL_NOREPLY=
EMAIL_PASSWORD_NOREPLY=
EMAIL_SERVER_NOREPLY=
# MUST MATCH THE SITE'S DOMAIN OR ELSE THE PASSKEYS WON'T WORK
HOSTNAME=
DEFAULT_ADMIN_PASSWORD=hello_world
