VITE_PORT=3900
FORM_RESULT_TIMEOUT=8000
# MUST BE 32 chars long at least
JWT_SECRET=
# MUST BE 32 chars long at least
JWT_ACTIVATION_SECRET=
JWT_ACTIVATION_EXPIRES=1d
ADMIN_SUFFIX=
EMAIL_NOREPLY=
EMAIL_PASSWORD_NOREPLY=
EMAIL_SERVER_NOREPLY=
