@font-face {
    font-family: "Agency FB";
    font-weight: normal;
    font-style: normal;
    src: local("Agency FB"),
        url("/fonts/agency/agencyr-webfont.woff") format("woff"),
        url("/fonts/agency/agencyr-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Agency FB";
    font-weight: bold;
    font-style: normal;
    src: local("Agency FB"),
        url("/fonts/agency/agencyb-webfont.woff") format("woff"),
        url("/fonts/agency/agencyb-webfont.woff2") format("woff2");
}

@font-face {
    font-family: Calibri;
    font-weight: normal;
    font-style: normal;
    src: local("Calibri Regular"),
        url("/fonts/calibri/calibri-webfont.woff") format("woff"),
        url("/fonts/calibri/calibri-webfont.woff2") format("woff2");
}

@font-face {
    font-family: Calibri;
    font-weight: bold;
    font-style: normal;
    src: local("Calibri Bold"),
        url("/fonts/calibri/calibrib.woff2") format("woff2");
}

@font-face {
    font-family: Calibri;
    font-weight: bold;
    font-style: italic;
    src: local("Calibri Bold Italic"),
        url("/fonts/calibri/calibriz.woff2") format("woff2");
}
