{% import "includes/macros.njk" as forms %}

<div class="flex flex-col gap-3">
    <div class="mb-11">
        <p class="title-font leading-none text-7xl uppercase">De quel <span class="text-green-numixs">département</span> venez-vous ?</p>
    </div>
    {# <ul class="form-errors-list-container" role="alert" data-form-errors id="error-container"></ul> #}

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-14 gap-y-7">
        {% for department in list_departments %}
        <div class="w-full text-black switch-container title-font font-bold bg-[#F5F5F5] rounded-md h-fit">
            <label class="w-full p-3 justify-between inline-flex items-center cursor-pointer text-2xl">
                <span>{{ department.label }}</span>
                <input type="radio" name="department" class="sr-only" value="{{ department.value }}" id="{{ department.value }}">
            </label>
        </div>
        {% endfor %}
    </div>
</div>