{% import "includes/macros.njk" as forms %}

<div class="flex flex-col gap-3">
    <div class="mb-11">
        <p class="title-font leading-none text-7xl uppercase">À quel(s) groupe(s)<br/>
            <span class="text-green-numixs">appartenez-vous</span> ?</p>
        <p class="text-sm opacity-70 -mt-1">Vous devez choisir au moins un groupe</p>
    </div>
    <ul class="form-errors-list-container" role="alert" data-form-errors id="error-container"></ul>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-14 gap-y-7">
        {% for sector in list_business_sector %}
            {% set children = null %}
            {% if sector.value == "entreprise" %}
                {% set children %}
                <div data-input-switch-toggle-recipient="entreprise">
                    <div class="ml-12 flex flex-col mt-2">
                        {{ forms.switch("Station Numixs", "station_numixs", value = "oui", color = "peer-checked:bg-green-numixs", ring_color = "peer-focus:ring-dark-green-numixs/30", options = {"label_classes": "text-xl" }) }}
                        {{ forms.switch("Externe", "entreprise_externe", value = "oui", color = "peer-checked:bg-green-numixs", ring_color = "peer-focus:ring-dark-green-numixs/30", options = {"label_classes": "text-xl" }) }}
                    </div>
                </div>
                {% endset %}
            {% endif %}
            {% if sector.value == "education" %}
                {% set children %}
                <div data-input-switch-toggle-recipient="education">
                    <div class="ml-12 flex flex-col mt-2">
                        {{ forms.switch("Enseignant", "enseignant", value = "oui", color = "peer-checked:bg-green-numixs", ring_color = "peer-focus:ring-dark-green-numixs/30", options = {"label_classes": "text-xl" }) }}
                        {{ forms.switch("Élève", "eleve", value = "oui", color = "peer-checked:bg-green-numixs", ring_color = "peer-focus:ring-dark-green-numixs/30", options = {"label_classes": "text-xl" }) }}
                    </div>
                </div>
                {% endset %}
            {% endif %}
            {{ forms.switch(sector.name, sector.value, value = "oui", color = "peer-checked:bg-green-numixs", ring_color = "peer-focus:ring-dark-green-numixs/30", options = {"children": children }) }}
        {% endfor %}
    </div>
</div>