{% extends "layouts/page.njk" %}

{% block title %}
{% if is_edit %}
Éditer lieu Numixs
{% else %}
Créer nouveau lieu Numixs
{% endif %}
{% endblock %}

{% import "includes/macros.njk" as forms %}

{% block scripts %}
{% if NODE_ENV == "development" %}
    <script type="module" src="/src/assets/scripts/place-form.ts" defer></script>
{% else %}
    <script type="module" src="/{{ manifest['src/assets/scripts/place-form.ts'].file }}" defer></script>
{% endif %}
{% endblock %}

{% set active_menu_item = "lieu" %}
{% set date_format = "dd/LL/yyyy à HH:mm" %}
{% set root_class = "admin" %}
{% block content %}
    <div data-notifications-container class="fixed left-2 top-2 z-50 empty:h-0"></div>
    <div class="mt-8 pr-[max(env(safe-area-inset-right),_theme(space.3))] pl-[max(env(safe-area-inset-left),_theme(space.3))] grid grid-cols-1 xl:grid-cols-[220px_minmax(0,_1fr)] gap-6">
        {% include "includes/admin-nav.njk" %}
        <div class="bg-slate-50 rounded-md py-5 px-6 md:py-10 md:px-13">
            <header class="flex flex-row justify-between md:items-center mb-10 -mt-1.5">
                <h1 class="text-black-numixs title-font font-bold text-6xl">
                    {% if is_edit %}
                    Éditer lieu Numixs
                    {% else %}
                    Créer nouveau lieu Numixs
                    {% endif %}
                </h1>
            </header>

            <div class="text-black-numixs">
                <form action="" method="post" class="flex flex-col gap-5" data-place-form>
                    {% if flash_message == "no_place" %}
                        <p class="p-4 bg-amber-50 text-amber-800 border-t-4 border-t-amber-800">Vous devez créer un lieu (puis le sélectionner) avant de pouvoir permettre aux visiteurs de s'enregistrer</p>
                    {% endif %}
                    {% if not_found %}
                        <p class="p-4 bg-red-50 text-red-800 border-t-4 border-t-red-800">Ce lieu n'existe pas</p>
                    {% endif %}

                    <ul class="form-errors-list-container" role="alert" data-form-errors id="error-container"></ul>
                    <p class="p-4 bg-blue-50 text-blue-800 border-t-4 border-t-blue-800">Les champs avec * sont obligatoires</p>
                    <div class="flex flex-col">
                        <label for="nom" class="font-bold text-lg">Nom*</label>
                        <input type="text" id="nom" name="nom" value="{{ place.nom }}">
                    </div>
                    <div class="flex flex-col">
                        <label for="adresse" class="font-bold text-lg">Adresse*</label>
                        <textarea name="adresse" id="adresse">{{ place.adresse }}</textarea>
                    </div>
                    <div class="flex flex-col">
                        <label for="jours" class="font-bold text-lg">Jours de fermeture</label>
                        <select id="jours" name="jours_fermeture" multiple>
                            {% for day in list_days %}
                            <option {{ "selected" if place.jours_fermeture.includes(day.value) else "" }} value="{{ day.value }}">{{ day.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="flex flex-col">
                        <p class="font-bold text-lg">Horaires</p>
                        <p class="p-4 bg-blue-50 text-blue-800 border-t-4 border-t-blue-800">Si le lieu ferme à 19h30, vous devez mettre 19h comme heure de fermeture</p>
                        <div class="flex flex-row gap-5">
                            <div class="flex flex-col">
                                <label for="ouverture">Ouverture</label>
                                <select name="heure_ouverture" value="{{ place.heure_ouverture }}" id="ouverture">
                                    {% for i in range(8, 21) %}
                                        <option {{ "selected" if place.heure_ouverture == i else "" }} value="{{ i }}">{{ i }}h</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="flex flex-col">
                                <label for="fermeture">Fermeture</label>
                                <select name="heure_fermeture" id="fermeture">
                                    {% for i in range(8, 21) %}
                                        <option {{ "selected" if place.heure_fermeture == i else "" }} value="{{ i }}">{{ i }}h</option>
                                    {% endfor %}
                                </select>

                                {# <input type="time" id="fermeture" name="heure_fermeture" min="08:00" max="20:00" /> #}
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <p class="font-bold text-lg">Ouvert*</p>
                        <div class="flex flex-row gap-5">
                            <div>
                                <label for="oui">Oui</label>
                                <input type="radio" name="ouvert" checked value="oui" id="oui">
                            </div>
                            <div>
                                <label for="non">Non</label>
                                <input type="radio" name="ouvert" value="non" id="non">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="text-black-numixs inline-flex w-fit title-font rounded-md text-2xl gap-2.5 py-3.5 font-bold hocus:opacity-70 items-center">
                    Soumettre
                    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.723633 11C0.723633 13.0767 1.37686 15.1068 2.60072 16.8335C3.82458 18.5602 5.56409 19.906 7.59929 20.7007C9.63449 21.4955 11.874 21.7034 14.0345 21.2982C16.1951 20.8931 18.1797 19.8931 19.7373 18.4246C21.295 16.9562 22.3558 15.0852 22.7856 13.0484C23.2153 11.0116 22.9948 8.90045 22.1518 6.98182C21.3088 5.0632 19.8812 3.42332 18.0495 2.26957C16.2179 1.11581 14.0645 0.5 11.8616 0.5C8.90763 0.5 6.07465 1.60625 3.98587 3.57538C1.89709 5.54451 0.723633 8.21523 0.723633 11ZM5.49705 10.25H15.1632L10.7239 6.04475L11.8616 5L18.2262 11L11.8616 17L10.7239 15.9298L15.1632 11.75H5.49705V10.25Z" fill="currentColor"></path>
                        </svg>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}
