{% extends "layouts/page.njk" %}

{% block title %}
Tableau de bord
{% endblock %}

{% set root_class = "admin" %}
{% set active_menu_item = "dashboard" %}
{% set date_format = "dd/LL/yyyy à HH:mm" %}
{% block scripts %}
    <script type="module" src="/src/assets/scripts/dashboard.ts" defer></script>
    <script type="module" src="/src/assets/scripts/download-chart.ts" defer></script>
{% endblock %}
{% block content %}
    <div data-notifications-container class="fixed left-2 top-2 z-50 empty:h-0"></div>
    <div class="mt-8 px-3 grid grid-cols-1 xl:grid-cols-[220px_auto] gap-6">
        {% include "includes/admin-nav.njk" %}
        <div class="bg-slate-50 rounded-md py-5 px-6 md:py-10 md:px-13">
            <header class="flex flex-col md:flex-row justify-between md:items-center mb-16 -mt-1.5">
                <h1 class="text-black title-font font-bold text-6xl">Tableau de bord</h1>
            </header>
            <div class="text-black">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
                    <div class="bg-black-numixs p-3 rounded-2xl h-80 relative">
                        <menu class="absolute right-3 flex flex-row gap-3">
                            <li>
                                <button data-download-chart="dailyChart" type="button" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                        <path d="M14 3h2.997v5h-2.997v-5zm9 1v20h-22v-24h17.997l4.003 4zm-17 5h12v-7h-12v7zm14 4h-16v9h16v-9z"/>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button data-details-chart="heure" type="button" command="show-modal" commandfor="detailsChartModal" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                                    </svg>
                                </button>
                            </li>
                        </menu>
                        <canvas id="dailyChart" class="w-full h-full"></canvas>
                    </div>
                    <div class="bg-black-numixs p-3 rounded-2xl h-80 relative">
                        <menu class="absolute right-3 flex flex-row gap-3">
                            <li>
                                <button data-download-chart="weeklyChart" type="button" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                        <path d="M14 3h2.997v5h-2.997v-5zm9 1v20h-22v-24h17.997l4.003 4zm-17 5h12v-7h-12v7zm14 4h-16v9h16v-9z"/>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button data-details-chart="jour" type="button" command="show-modal" commandfor="detailsChartModal" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                                    </svg>
                                </button>
                            </li>
                        </menu>
                        <canvas id="weeklyChart"></canvas>
                    </div>
                    <div class="bg-black-numixs p-3 rounded-2xl h-80 relative col-span-full lg:col-[initial]">
                        <menu class="absolute right-3 flex flex-row gap-3">
                            <li>
                                <button data-download-chart="monthlyChart" type="button" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                        <path d="M14 3h2.997v5h-2.997v-5zm9 1v20h-22v-24h17.997l4.003 4zm-17 5h12v-7h-12v7zm14 4h-16v9h16v-9z"/>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button data-details-chart="semaine" type="button" command="show-modal" commandfor="detailsChartModal" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                                    </svg>
                                </button>
                            </li>
                        </menu>
                        <canvas id="monthlyChart"></canvas>
                    </div>
                    <div class="col-span-full bg-black-numixs p-3 rounded-2xl h-96 relative">
                        <menu class="absolute right-3 flex flex-row gap-3">
                            <li>
                                <button data-download-chart="yearlyChart" type="button" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                        <path d="M14 3h2.997v5h-2.997v-5zm9 1v20h-22v-24h17.997l4.003 4zm-17 5h12v-7h-12v7zm14 4h-16v9h16v-9z"/>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button data-details-chart="mois" type="button" command="show-modal" commandfor="detailsChartModal" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                                    </svg>
                                </button>
                            </li>
                        </menu>
                        <canvas id="yearlyChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <dialog id="detailsChartModal" closedby="any" class="max-w-7xl w-full mx-auto text-white-numixs backdrop:bg-white-numixs/20 mt-8 bg-transparent overflow-hidden">
        <div class="bg-black-numixs p-3 border border-green-numixs rounded-2xl mx-3 relative">
            <menu class="absolute right-3 flex flex-row gap-3">
                <li>
                    <button data-download-chart="detailsChart" type="button" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M14 3h2.997v5h-2.997v-5zm9 1v20h-22v-24h17.997l4.003 4zm-17 5h12v-7h-12v7zm14 4h-16v9h16v-9z"/>
                        </svg>
                    </button>
                </li>
                <li>
                    <button type="button" command="close" commandfor="detailsChartModal" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </li>
            </menu>
            <canvas id="detailsChart" class="w-full h-full aspect-[2/1]"></canvas>
        </div>
    </dialog>
{% endblock %}
