{% extends "layouts/page.njk" %}

{% block title %}
Tableau de bord
{% endblock %}

{% set active_menu_item = "dashboard" %}
{% set date_format = "dd/LL/yyyy à HH:mm" %}
{% block scripts %}
    <script type="module" src="/src/assets/scripts/dashboard.ts" defer></script>
{% endblock %}
{% block content %}
    <div data-notifications-container class="fixed left-2 top-2 z-50 empty:h-0"></div>
    <div class="mt-8 px-3 grid grid-cols-1 xl:grid-cols-[220px_auto] gap-6">
        {% include "includes/admin-nav.njk" %}
        <div class="bg-slate-50 rounded-md py-5 px-6 md:py-10 md:px-13">
            <header class="flex flex-col md:flex-row justify-between md:items-center mb-16 -mt-1.5">
                <h1 class="text-black title-font font-bold text-6xl">Tableau de bord</h1>
            </header>
            <div class="text-black">
                <div class="grid grid-cols-3 gap-4">
                    <div class="bg-black-numixs p-3 rounded-2xl h-72 relative" style="position: relative;">
                        <canvas id="dailyChart" class="w-full h-full"></canvas>
                    </div>
                    <div>
                        <canvas id="weeklyChart" class="bg-red-200"></canvas>
                    </div>
                    <div>
                        <canvas id="myChart3" class="bg-blue-200"></canvas>
                    </div>
                    <div class="col-span-full">
                        <canvas id="myChart3" class="bg-green-200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
