{% extends "layouts/page.njk" %}

{% block title %}
Tableau de bord
{% endblock %}

{% import "includes/macros.njk" as macros %}

{% set root_class = "admin" %}
{% set active_menu_item = "dashboard" %}
{% set date_format = "dd/LL/yyyy à HH:mm" %}
{% block scripts %}
    <script type="module" src="/src/assets/scripts/dashboard.ts" defer></script>
    <script type="module" src="/src/assets/scripts/download-chart.ts" defer></script>
{% endblock %}
{% block content %}
    <div data-notifications-container class="fixed left-2 top-2 z-50 empty:h-0"></div>
    <div class="mt-8 px-3 grid grid-cols-1 xl:grid-cols-[220px_auto] gap-6">
        {% include "includes/admin-nav.njk" %}
        <div class="bg-slate-50 rounded-md py-5 px-6 md:py-10 md:px-13">
            <header class="flex flex-col md:flex-row justify-between md:items-center mb-16 -mt-1.5">
                <h1 class="text-black title-font font-bold text-6xl">Tableau de bord</h1>
            </header>
            <div class="text-black">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
                    <div class="bg-black-numixs p-3 rounded-2xl h-80 relative">
                        <menu class="absolute right-3 flex flex-row gap-3">
                            <li>
                                <button data-download-chart="dailyChart" type="button" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    {% include "includes/icons/download-fill-icon.svg" %}
                                </button>
                            </li>
                            <li>
                                <button data-details-chart="heure" type="button" command="show-modal" commandfor="detailsChartModal" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                                    </svg>
                                </button>
                            </li>
                        </menu>
                        <canvas id="dailyChart" class="w-full h-full"></canvas>
                    </div>
                    <div class="bg-black-numixs p-3 rounded-2xl h-80 relative">
                        <menu class="absolute right-3 flex flex-row gap-3">
                            <li>
                                <button data-download-chart="weeklyChart" type="button" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    {% include "includes/icons/download-fill-icon.svg" %}
                                </button>
                            </li>
                            <li>
                                <button data-details-chart="jour" type="button" command="show-modal" commandfor="detailsChartModal" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                                    </svg>
                                </button>
                            </li>
                        </menu>
                        <canvas id="weeklyChart"></canvas>
                    </div>
                    <div class="bg-black-numixs p-3 rounded-2xl h-80 relative col-span-full lg:col-[initial]">
                        <menu class="absolute right-3 flex flex-row gap-3">
                            <li>
                                <button data-download-chart="monthlyChart" type="button" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    {% include "includes/icons/download-fill-icon.svg" %}
                                </button>
                            </li>
                            <li>
                                <button data-details-chart="semaine" type="button" command="show-modal" commandfor="detailsChartModal" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                                    </svg>
                                </button>
                            </li>
                        </menu>
                        <canvas id="monthlyChart"></canvas>
                    </div>
                    <div class="col-span-full bg-black-numixs p-3 rounded-2xl h-96 relative">
                        <menu class="absolute right-3 flex flex-row gap-3">
                            <li>
                                <button data-download-chart="yearlyChart" type="button" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    {% include "includes/icons/download-fill-icon.svg" %}
                                </button>
                            </li>
                            <li>
                                <button data-details-chart="mois" type="button" command="show-modal" commandfor="detailsChartModal" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                                    </svg>
                                </button>
                            </li>
                        </menu>
                        <canvas id="yearlyChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <dialog id="detailsChartModal" closedby="any" class="max-w-7xl w-full mx-auto text-white-numixs backdrop:bg-white-numixs/20 mt-8 bg-transparent overflow-hidden">
        <div class="bg-black-numixs p-3 border border-green-numixs rounded-2xl mx-3 ">
            <div class="relative">
                <menu class="absolute right-3 flex flex-row gap-3">
                    <li>
                        {% set split_button_main_action %}
                            <button data-download-chart="detailsChart" type="button" class="text-white-numixs cursor-pointer">
                                Exporter graphique + tableau (.jpg)
                            </button>
                        {% endset %}

                        {% set split_button_sub_action_1 %}
                            <a href="/visiteurs/telecharger?mois={{ current_date|date("yyyy-MM") }}" data-download-chart-data download class="w-full align-center inline-flex whitespace-nowrap flex-row gap-2 px-3.5 py-2.5 rounded-xl text-black hocus:bg-slate-300">
                                {% include "includes/icons/download-fill-icon.svg" %}
                                Télécharger les données visite par visite (.csv)
                            </a>
                        {% endset %}

                        {% set list_sub_actions = [
                        split_button_sub_action_1
                        ] %}
                        {{ macros.split_button(
                            split_button_main_action,
                            list_sub_actions
                        ) }}
                    </li>
                    <li>
                        <button type="button" command="close" commandfor="detailsChartModal" class="text-white-numixs hocus:text-green-numixs cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </li>
                </menu>
                <canvas id="detailsChart" class="w-full"></canvas>
            </div>
            <div class="overflow-x-auto">
                <table id="table-details-chart" class="w-full mt-4 whitespace-nowrap" style="width: 100%;">
                    <caption>
                        Détails
                    </caption>
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </dialog>

    <template id="table-details-chart-thead-row">
        <th class="px-2"></th>
    </template>
    <template id="table-details-chart-tbody-row">
        <td></td>
    </template>
{% endblock %}
