{% extends "layouts/page.njk" %}
{% import "includes/macros.njk" as forms %}

{% set root_class = "register" %}

{% block title %}
Compteur de visiteurs
{% endblock %}
{% block scripts %}
{% if NODE_ENV == "development" %}
    <script type="module" src="/src/assets/scripts/register-form.ts" defer></script>
{% else %}
    <script type="module" src="/{{ manifest['src/assets/scripts/register-form.ts'].file }}" defer></script>
{% endif %}
{% endblock %}
{% block content %}
    <div class="max-w-7xl mt-8 pr-[max(env(safe-area-inset-right),_theme(space.3))] pl-[max(env(safe-area-inset-left),_theme(space.3))] grid grid-cols-1 lg:grid-cols-[1fr_456px] justify-center gap-24 mx-auto">
        <form class="w-full" novalidate action="" method="post" data-sign-in-form>
            <header class="mb-6">
                <img src="/images/logos/{{place.type or "faclab"}}-numixs.svg" class="w-20" alt="">
                <p class="text-sm">{{ place.nom }}</p>
            </header>

            <div class="flex flex-col gap-3">
                <div class="mb-11">
                    <p class="title-font leading-none text-7xl uppercase">À quel(s) groupe(s)<br /><span class="text-green-numixs">appartenez-vous</span> ?</p>
                    <p class="text-sm opacity-70 -mt-1">Vous devez choisir au moins un groupe</p>
                </div>
                <ul class="form-errors-list-container" role="alert" data-form-errors id="error-container"></ul>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-14 gap-y-7">
                    {% for sector in list_business_sector %}
                        {% set children = null %}
                        {% if sector.value == "entreprise" %}
                            {% set children %}
                            <div data-input-switch-toggle-recipient="entreprise">
                                <div class="ml-12 flex flex-col mt-2">
                                    {{ forms.switch("Station Numixs", "station_numixs", value = "oui", color = "peer-checked:bg-green-numixs", ring_color = "peer-focus:ring-dark-green-numixs/30", options = {"label_classes": "text-xl" }) }}
                                    {{ forms.switch("Externe", "entreprise_externe", value = "oui", color = "peer-checked:bg-green-numixs", ring_color = "peer-focus:ring-dark-green-numixs/30", options = {"label_classes": "text-xl" }) }}
                                </div>
                            </div>
                            {% endset %}
                        {% endif %}
                        {{ forms.switch(sector.name, sector.value, value = "oui", color = "peer-checked:bg-green-numixs", ring_color = "peer-focus:ring-dark-green-numixs/30", options = {"children": children }) }}
                    {% endfor %}
                </div>
            </div>

            <div class="mt-7">
                <button type="submit" class="text-green-numixs inline-flex w-fit title-font rounded-md text-2xl gap-2.5 py-3.5 font-bold hocus:text-white items-center">
                    Envoyer
                    {% include "includes/icons/next-arrow.svg" %}
                </button>
            </div>
        </form>
        <div class="hidden lg:block rounded-md w-full overflow-hidden bg-no-repeat h-full" style="background-image: url('/images/compteur-deco-image.png')">
        </div>
    </div>

    <footer class="max-w-7xl px-3 mx-auto text-center text-xs mt-4">
        <p>Projet inspiré par le projet compteur social développé au FabLab Numixs de Sarcelles en Python.</p>
    </footer>

    <dialog id="result-form-modal" data-dialog="form-submitted" class="backdrop:bg-[#272626] m-auto max-w-5xl w-full bg-transparent px-2 result-form-modal">
        <div class="flex gap-4 flex-col py-4">
            <div class="mb-6">
                <img src="/images/logos/{{place.type or "faclab"}}-numixs.svg" class="w-30 block" alt="Logo faclab numixs">
                <p class="text-sm text-white-numixs">{{ place.nom }}</p>
            </div>
            <div class="flex flex-col" data-swap-content>
                <img src="/images/loading.svg" class="animate-spin w-16" alt="">
            </div>
        </div>
    </dialog>
    <template data-template-id="form-success">
        <p class="title-font text-white text-7xl mb-4">Merci de votre retour, excellent passage au<br class="hidden lg:inline" /> <span class="text-green-numixs" data-place>FacLab numixs<sup>®</sup></span>.</p>
        <div class="overflow-hidden rounded-md h-52 lg:h-auto flex items-center lg:block">
            <img src="/images/register-complete.jpg" class="rounded-md" alt="">
        </div>

        <button type="button" data-close-dialog command="close" commandfor="result-form-modal" class="bg-green-numixs w-fit rounded-md px-16 py-3.5 mx-auto block mt-8 active:bg-dark-green-numixs">Revenir à l'accueil</button>
    </template>
    <template data-template-id="form-submitting">
        <img src="/images/loading.svg" class="animate-spin w-16" alt="Chargement">
    </template>
    <template data-template-id="form-error">
        <p class="title-font text-white text-7xl mb-4">Une erreur est survenue lors de votre enregistrement.</p>

        <button type="button" data-close-dialog command="close" commandfor="result-form-modal" class="bg-green-numixs w-fit rounded-md px-16 py-3.5 mx-auto block mt-8 active:bg-dark-green-numixs">Recommencer</button>
    </template>
{% endblock %}
