{% extends "layouts/page.njk" %}

{% set root_class = "register" %}

{% block title %}
Connexion
{% endblock %}

{% block scripts %}
    {% if NODE_ENV == "development" %}
        <script type="module" src="/src/assets/scripts/toggle-input-visibility.ts" defer></script>
        {# <script type="module" src="/src/assets/scripts/forms/login-form.ts" defer></script> #}
        <script type="module" src="/src/assets/scripts/forms/login-form-2.ts" defer></script>
    {% else %}
        <script type="module" src="/{{ manifest['src/assets/scripts/toggle-input-visibility.ts'].file }}" defer></script>
        {# <script type="module" src="/{{ manifest['src/assets/scripts/forms/login-form.ts'].file }}" defer></script> #}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="max-w-7xl mt-8 px-3 mx-auto">
        <div>
            <img src="/images/logos/faclab-numixs.svg" class="w-20" alt="">
            <h1 class="text-6xl title-font text-green-numixs">Connexion</h1>
        </div>
        {% if flash_message == "account_created" %}
            <p class="p-4 bg-green-50 text-green-800 border-t-4 border-t-green-800 mb-4 rounded-lg">
                Votre compte a été confirmé, vous pouvez désormais vous connecter avec l'adresse e-mail <span class="font-bold">"{{ user_email }}"</span> et le mot de passe définit précédemment.
            </p>
        {% endif %}

        {% if flash_message == "success_logout" %}
            <p class="p-4 bg-green-50 text-green-800 border-t-4 border-t-green-800 mb-4 rounded-lg">
                Vous avez été déconnecté(e) avec succès.
            </p>
        {% endif %}

        {% if flash_message == "forced_logout" %}
            <p class="p-4 bg-amber-50 text-amber-800 border-t-4 border-t-amber-800 mb-4 rounded-lg">
                Une erreur est survenue, vous avez été déconnecté(e).
            </p>
        {% endif %}

        {% if flash_message == "wrong_credentials" %}
            <p class="p-4 bg-red-50 text-red-800 border-t-4 border-t-red-800 mb-4 rounded-lg">
                Identifiants incorrects.
            </p>
        {% endif %}

        {% if flash_message == "form_not_valid" %}
            <p class="p-4 bg-red-50 text-red-800 border-t-4 border-t-red-800 mb-4 rounded-lg">
                Veuillez remplir dûment le formulaire.
            </p>
        {% endif %}

        {% if flash_message == "not_logged" %}
            <p class="p-4 bg-red-50 text-red-800 border-t-4 border-t-red-800 mb-4 rounded-lg">
                Vous devez vous connecter.
            </p>
        {% endif %}

        {% if flash_message == "user_exists" %}
            <p class="p-4 bg-amber-50 text-amber-800 border-t-4 border-t-amber-800 mb-4 rounded-lg">
                Ce compte a déjà été activé. Veuillez vous connecter avec le mot de passe que vous avez défini durant l'activation de votre compte dans le formulaire ci-dessous.
            </p>
        {% endif %}

        <form action="/connexion" method="post" novalidate>
            <ul class="form-errors-list-container" role="alert" data-form-errors id="error-container"></ul>

            <div class="flex flex-col gap-3">
                <div class="flex flex-col">
                    <label for="email">Identifiant</label>
                    <input type="email" id="email" name="email" value="{{ user_email }}" class="text-black">
                </div>
                <div class="flex flex-col">
                    <label for="mot_de_passe">Mot de passe</label>
                    <input type="password" name="mot_de_passe" id="mot_de_passe" class="text-black w-full" data-input-toggle-visibility>
                </div>
                <button type="button" data-test>Toast 222</button>
                <div>
                    <button type="submit" class="text-green-numixs inline-flex w-fit title-font text-2xl gap-2.5 py-3.5 font-bold hocus:text-white items-center">
                    Se connecter
                    {% include "includes/icons/next-arrow.svg" %}
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% include "includes/toggle-input-visibility.njk" %}
{% endblock %}
