{% extends "layouts/page.njk" %}

{% block title %}
Liste des visiteurs le {{ current_date|date("EEEE dd LLLL yyyy") }}
{% endblock %}
{% block scripts %}
    <script type="module" src="/src/assets/scripts/members-poll.ts" defer></script>
{% endblock %}

{% import "includes/macros.njk" as macros %}

{% set active_menu_item = "visiteurs" %}
{% set date_format = "dd/LL/yyyy à HH:mm" %}
{% set root_class = "admin" %}
{% block content %}
    <div data-notifications-container class="fixed left-2 top-2 z-50 empty:h-0"></div>
    <div class="mt-8 px-3 grid grid-cols-1 xl:grid-cols-[220px_minmax(0,_1fr)] gap-6">
        {% include "includes/admin-nav.njk" %}
        <div class="bg-slate-50 rounded-md py-5 px-6 md:py-10 md:px-13">
            <header class="flex flex-col md:flex-row justify-between md:items-center mb-16 -mt-1.5">
                <h1 class="text-black title-font font-bold text-6xl">Visites</h1>

                {% set split_button_main_action %}
                    <a href="/telecharger?jour={{ current_date|date("yyyy-MM-dd") }}" download class="px-3.5 py-2.5 rounded-tl-xl rounded-bl-xl text-white hocus:bg-green-900">
                        Télécharger les données du {{ current_date|date("dd/MM/yyyy") }} (.csv)
                    </a>
                {% endset %}

                {% set split_button_sub_action_1 %}
                    <a href="/telecharger?mois={{ current_date|date("yyyy-MM") }}" download class="w-full align-center inline-flex whitespace-nowrap flex-row gap-2 px-3.5 py-2.5 rounded-xl text-black hocus:bg-slate-300">
                        {% include "includes/icons/download-fill-icon.svg" %}
                        Télécharger toutes les données du mois {{ current_date|date("MMMM yyyy") }} (.csv)
                    </a>
                {% endset %}

                {% set split_button_sub_action_2 %}
                    <a href="/telecharger?annee={{ current_date|date("yyyy") }}" download class="w-full align-center inline-flex whitespace-nowrap flex-row gap-2 px-3.5 py-2.5 rounded-xl text-black hocus:bg-slate-300">
                        {% include "includes/icons/download-fill-icon.svg" %}
                        Télécharger toutes les données de l'année {{ current_date|date("yyyy") }} (.csv)
                    </a>
                {% endset %}

                {% set list_sub_actions = [
                   split_button_sub_action_1,
                   split_button_sub_action_2
                ] %}

                {{ macros.split_button(
                    split_button_main_action,
                    list_sub_actions
                 ) }}
            </header>
            <div class="text-black">
                <header class="flex gap-4 mb-6 justify-between sm:justify-normal">
                    <a href="?current_date={{ current_date|add_days(-1)|date("yyyy-LL-dd") }}" class="py-2.5 px-3.5 border-black-numixs border rounded-md flex items-center justify-center hocus:bg-green-numixs">
                        <span class="sr-only">Hier</span>
                        <span class="flex items-center justify-center w-3.5">
                            {% include "includes/icons/arrow-icon.svg" %}
                        </span>
                    </a>
                    <button class="py-2.5 px-5 border-black-numixs border rounded-md relative hocus:bg-green-numixs flex gap-2.5 flex-row items-center current-day" commandfor="calendar" command="toggle-popover">
                            {% include "includes/icons/calendar-icon.svg" %}
                        <span class="pointer-events-none">{{ "Aujourd'hui" if is_today else current_date|date("EEEE dd LLLL yyyy")  }}</span>
                    </button>
                    <a href="?current_date={{ current_date|add_days(1)|date("yyyy-LL-dd") }}" class="py-2.5 px-3.5 border-black-numixs border rounded-md flex items-center justify-center hocus:bg-green-numixs">
                        <span class="sr-only">Demain</span>
                        <span class="rotate-180 flex items-center justify-center w-3.5">
                            {% include "includes/icons/arrow-icon.svg" %}
                        </span>
                    </a>
                </header>
                {% include "includes/calendar.njk" %}
                <header class="flex mb-3 gap-3">
                    <div class="flex flex-col w-full lg:w-auto lg:mr-4 bg-green-numixs p-3 pr-5 rounded-md text-black-numixs">
                        <p class="text-2xl title-font">Nombre de visites</p>
                        <p class="text-4xl">{{ visitors_list|length }}</p>
                        <p>{{ current_date|date("EEEE dd LLLL yyyy") }}</p>
                        {% if is_day_closed %}
                        <p class="text-sm italic">Fermé</p>
                        {% endif %}
                    </div>
                    <div class="bg-black-numixs p-3 rounded-md text-white-numixs hidden flex-1 lg:grid grid-cols-4 gap-1.5">
                        <p class="col-span-full text-xl">Détails des visites par type de visiteur</p>
                        {% for business in list_business_sector %}
                            <div class="flex flex-col flex-auto">
                                <p class="h-8">{{ business.name }}</p>
                                <p class="text-xl place-content-end -mt-4">{{ visitors_summary[business.value] }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </header>
                <div class="overflow-x-auto">
                    <table class="w-full bg-white border-collapse whitespace-nowrap">
                        <thead>
                            <tr class="bg-gray-200">
                                <td class="font-bold px-4 py-3 text-left">#</td>
                                <td class="font-bold px-4 py-3 text-left">Date de visite</td>
                                {% for business in list_business_sector %}
                                    <td class="font-bold px-4 py-3 text-left border-solid">{{ business.name | striptags(true) | escape | nl2br }}</td>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in visitors_list %}
                                <tr class="even:bg-green-numixs/50 group hover:bg-slate-200" data-member-row>
                                    <td class="group-hover:bg-slate-200 bg-gray-100 group-even:bg-green-numixs/50 px-4 py-3 text-left" data-label="Numéro" data-row-key="{{ business.value }}">{{ loop.index }}</td>
                                    <td class="group-hover:bg-slate-200 bg-gray-100 group-even:bg-green-numixs/50 px-4 py-3 text-left" data-label="Date de passage" data-row-key="Date de passage">
                                        <time datetime="{{ member['date_passage'] }}">
                                            {{ member["date_passage"]|date("dd/LL/yyyy à HH:mm") }}
                                        </time>
                                    </td>
                                    {% for business in list_business_sector %}
                                        <td class="group-hover:bg-slate-200 bg-gray-100 group-even:bg-green-numixs/50 px-4 py-3 text-left" data-label="{{ business.name }}" data-row-key="{{ business.value }}">{{ member[business.value] }}</td>
                                    {% endfor %}
                                </tr>
                            {% else %}
                                <tr class="">
                                    <td colspan="{{ (list_business_sector | length) + 2 }}" class="px-4 py-3 text-center">Pas de visites le {{ current_date|date("dd/LL/yyyy") }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <template data-template-id="new-member-notification">
        <div class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow-sm notification" data-notification role="alert">
            <div class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                <span class="sr-only">Check icon</span>
            </div>
            <p class="ms-3 text-sm font-normal pr-1.5" data-notification-text>Item moved successfully.</p>
            <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8" data-dismiss-notification-btn aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
            </button>
        </div>
    </template>

{% endblock %}
