{% extends "layouts/page.njk" %}

{% block title %}
Listes lieux numixs
{% endblock %}

{% import "includes/macros.njk" as macros %}

{% set active_menu_item = "lieu" %}
{% set date_format = "dd/LL/yyyy à HH:mm" %}
{% set root_class = "admin" %}
{% block content %}
    <div data-notifications-container class="fixed left-2 top-2 z-50 empty:h-0"></div>
    <div class="mt-8 pr-[max(env(safe-area-inset-right),_theme(space.3))] pl-[max(env(safe-area-inset-left),_theme(space.3))] grid grid-cols-1 xl:grid-cols-[260px_minmax(0,_1fr)] gap-6">
        {% include "includes/admin-nav.njk" %}
        <div class="bg-slate-50 rounded-md py-5 px-6 md:py-10 md:px-13">
            <header class="flex flex-row justify-between md:items-center mb-10 -mt-1.5">
                <h1 class="text-black-numixs title-font font-bold text-6xl">Liste lieux numixs</h1>
                <a href="/lieu" class="bg-black-numixs hocus:bg-black px-3.5 py-2.5 rounded-xl text-white self-start md:self-auto">Ajouter un nouvel lieu</a>
            </header>
            <div class="text-black-numixs">
                <div class="overflow-x-auto">
                    <table class="w-full bg-white border-collapse whitespace-nowrap">
                        <thead>
                            <tr class="bg-gray-200">
                                <td class="font-bold px-4 py-3 text-left">#</td>
                                <td class="font-bold px-4 py-3 text-left">Nom</td>
                                <td class="font-bold px-4 py-3 text-left">Heures d'ouverture</td>
                                <td class="font-bold px-4 py-3 text-left">Jours fermés</td>
                                <td class="font-bold px-4 py-3 text-left">Ouvert</td>
                                <td class="font-bold px-4 py-3 text-left"></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for place in places_list %}
                                <tr class="even:bg-green-numixs/50 group hover:bg-slate-200" data-member-row>
                                    <td class="group-hover:bg-slate-200 bg-gray-100 group-even:bg-green-numixs/50 px-4 py-3 text-left">{{ loop.index }}</td>
                                    <td class="group-hover:bg-slate-200 bg-gray-100 group-even:bg-green-numixs/50 px-4 py-3 text-left">{{ place.nom }}</td>
                                    <td class="group-hover:bg-slate-200 bg-gray-100 group-even:bg-green-numixs/50 px-4 py-3 text-left">{{ place.heure_ouverture }}-{{ place.heure_fermeture }}</td>
                                    <td class="group-hover:bg-slate-200 bg-gray-100 group-even:bg-green-numixs/50 px-4 py-3 text-left">{{ place.jours_fermeture }}</td>
                                    <td class="group-hover:bg-slate-200 bg-gray-100 group-even:bg-green-numixs/50 px-4 py-3 text-left">{{ "Oui" if place.ouvert == 1 else "Non" }}</td>
                                    <td class="group-hover:bg-slate-200 bg-gray-100 group-even:bg-green-numixs/50 px-4 py-3 text-left">
                                        <a href="/lieu/{{ place.id }}" class="font-bold hocus:opacity-75">Éditer</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="">
                                    <td colspan="6" class="px-4 py-3 text-center">
                                        Pas de lieux
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
