{% extends "layouts/page.njk" %}

{% import "includes/macros.njk" as macros %}

{% block title %}
Sélectionner le lieu
{% endblock %}

{% set root_class = "register" %}
{% block content %}
    <div class="max-w-7xl mt-8 pr-[max(env(safe-area-inset-right),_theme(space.3))] pl-[max(env(safe-area-inset-left),_theme(space.3))] justify-center gap-24 mx-auto">
        <header class="mb-6">
            <img src="/images/logos/{{place.type or "faclab"}}-numixs.svg" class="w-20" alt="">
            {% if place %}
                <p class="text-sm">{{ place.nom }}</p>
            {% endif %}
        </header>
        <div class="flex flex-col gap-3 mb-3">
            {% if flash_message.unset_place %}
                {{ macros.warning_banner("Vous devez sélectionner un lieu avant de pouvoir mettre en place l'enregistrement de vos visiteurs.") }}
            {% endif %}
            {% if flash_message.unknown_place %}
                {{ macros.warning_banner("Le lieu définit n'existe pas, vous devez choisir un lieu existant.") }}
            {% endif %}
            {% if flash_message.closed_place %}
                {% set banner_content %}
                <span class="font-bold">
                        Le lieu définit n'est pas ouvert aujourd'hui. Les visites ne seront pas enregistrées.
                    </span>
                {% endset %}
                {{ macros.warning_banner(banner_content) }}
            {% endif %}
            {% if flash_message.set_place %}
                {% set banner_content %}
                Le lieu <span class="font-bold">"{{ place.nom }}"</span> a été sélectionné. Toutes les visites seront enregistrées comme appartenant au lieu <span class="font-bold">"{{ place.nom }}"</span> depuis cet appareil. <a href="/" class="underline hocus:no-underline">Accéder au formulaire.</a>
                {% endset %}
                {{ macros.success_banner(banner_content) }}
            {% endif %}
            {% if flash_message.not_found_place %}
                {{ macros.error_banner("Le lieu sélectionné n'a pas été trouvé ou est fermé. Veuillez sélectionner un autre lieu.") }}
            {% endif %}
        </div>
        <form action="" method="post">
            <div class="flex flex-col">
                <label for="place">
                    <p class="title-font text-green-numixs text-5xl">Sélectionner le lieu</p>
                    <p>Note : Seuls les lieux ouverts sont sélectionnables.</p>
                </label>
                <select name="place" id="place" class="text-black-numixs custom-select selected-content">
                    <button>
                        <selectedcontent></selectedcontent>
                    </button>
                    {% for _place in places_list %}
                        <option {{ "selected" if _place.slug === place.slug }} value="{{ _place.slug }}">
                            <div class="flex gap-3">
                                <img width="80" class="img" src="/images/logos/{{ _place.logo }}" alt="">

                                <div class="flex flex-col">
                                    <span class="text-lg">{{ _place.nom }}</span>
                                    <span class="text-sm">Horaires : {{ _place.heure_ouverture }}-{{ _place.heure_fermeture }} <span class="text-sm hidden md:inline"> - Fermeture : {{ _place.jours_fermeture or "Aucun" }}</span></span>
                                    <span class="text-sm inline md:hidden">Fermeture : {{ _place.jours_fermeture or "Aucun" }}</span>
                                </div>
                            </div>
                        </option>
                    {% endfor %}
                </select>
                <select name="place" id="place" class="text-black-numixs no-selected-content">
                    {% for _place in places_list %}
                        <option {{ "selected" if _place.slug === place.slug }} value="{{ _place.slug }}">
                            {{ _place.nom }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="flex flex-col md:flex-row justify-between mt-5">
                <div inert></div>
                <button type="submit" class="{{ primary_green_button_classes }}">
                    Sélectionner
                    {% include "includes/icons/next-arrow.svg" %}
                </button>
            </div>
        </form>
    </div>
    <script>
        if ("HTMLSelectedContentElement" in window) {
            document
                .documentElement
                .classList
                .add("supports-selectedcontent");
            Array
                .from(document.getElementsByClassName("no-selected-content"))
                .forEach((item) => item.remove())
        } else {
            document
                .documentElement
                .classList
                .add("not-supports-selectedcontent");
            Array
                .from(document.getElementsByClassName("selected-content"))
                .forEach((item) => item.remove())
        }
    </script>
{% endblock %}
