{% extends "layouts/page.njk" %}

{% import "includes/macros.njk" as macros %}

{% set root_class = "register" %}
{% block content %}
    <div class="max-w-7xl mt-8 pr-[max(env(safe-area-inset-right),_theme(space.3))] pl-[max(env(safe-area-inset-left),_theme(space.3))] justify-center gap-24 mx-auto">
        <header class="mb-6">
            <img src="/images/logos/{{place.type or "faclab"}}-numixs.svg" class="w-20" alt="">
            {% if place %}
                <p class="text-sm">{{ place.nom }}</p>
            {% endif %}
        </header>
        <div class="flex flex-col gap-3 mb-3">
            {% if flash_message.unset_place %}
                {{ macros.warning_banner("Vous devez sélectionner un lieu avant de pouvoir mettre en place l'enregistrement de vos visiteurs.") }}
            {% endif %}
            {% if flash_message.unknown_place %}
                {{ macros.warning_banner("Le lieu définit n'existe pas, vous devez choisir un lieu existant.") }}
            {% endif %}
            {% if flash_message.closed_place %}
                {% set banner_content %}
                    <span class="font-bold">
                        Le lieu définit n'est pas ouvert aujourd'hui. Les visites ne seront pas enregistrées.
                    </span>
                {% endset %}
                {{ macros.warning_banner(banner_content) }}
            {% endif %}
            {% if flash_message.set_place %}
                {% set banner_content %}
                Le lieu <span class="font-bold">"{{ place.nom }}"</span> a été sélectionné. Toutes les visites seront enregistrées comme appartenant au lieu <span class="font-bold">"{{ place.nom }}"</span> depuis cet appareil. <a href="/" class="underline hocus:no-underline">Accéder au formulaire.</a>
                {% endset %}
                {{ macros.success_banner(banner_content) }}
            {% endif %}
            {% if flash_message.not_found_place %}
                {{ macros.error_banner("Le lieu sélectionné n'a pas été trouvé ou est fermé. Veuillez sélectionner un autre lieu.") }}
            {% endif %}
        </div>
        <form action="" method="post">
            <div class="flex flex-col">
                <label for="place" class="title-font text-green-numixs text-5xl">Sélectionner le lieu</label>
                <select name="place" id="place" class="text-black-numixs">
                    {% for _place in places_list %}
                        <option {{ "selected" if _place.slug === place.slug }} value="{{ _place.slug }}">{{ _place.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mt-7">
                <button type="submit" class="text-green-numixs inline-flex w-fit title-font text-2xl gap-2.5 py-3.5 font-bold hocus:text-white items-center">
                    Envoyer
                    {% include "includes/icons/next-arrow.svg" %}
                </button>
            </div>

        </form>
    </div>
{% endblock %}
