{% extends "layouts/email.njk" %}

{% block title %}
    Changement de mot de passe
{% endblock %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <p class="m-1">Bonjour <span class="font-bold">{{ prenom }} {{ nom|uppercase }},</span></p>
                <p class="m-1">
                    Votre demande de récupération de mot de passe, du {{ date }}, a été prise en compte.
                </p>
                <p class="m-1">
                    Veuillez cliquer sur le lien ci-dessous pour effectuer le changement.
                </p>
            </td>
        </tr>
        <tr>
            <td align="center" class="py-2">
                <a
                    href="{{ activation_link }}"
                    rel="noopener noreferrer"
                    class="px-4 py-2 inline-block bg-green-numixs text-gray-numixs rounded-md"
                >
                   Changer mon mot de passe
                </a>
            </td>
        </tr>
        <tr>
            <td align="center">
                Si vous n'êtes pas à l'origine de cette action, veuillez ignorer cet e-mail.
            </td>
        </tr>
    </table>
{% endblock %}
