{% extends "layouts/email.njk" %}

{% block content %}
    <p>Bonjour <span class="font-bold">{{ prenom }}
            {{ nom|uppercase }},</span></p>
    <p>Votre compte a été activé. Pour finaliser votre compte suivez les étapes suivantes :</p>
    <div>
        <p>1.&nbsp;&nbsp;Accéder à la page d'activation via le lien dédié :</p>
        <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" class="py-3">
                        <a
                            href="{{ activation_link }}"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="px-4 py-2 bg-green-numixs text-gray-numixs rounded-md"
                        >
                    Activer mon compte
                </a>
                    </td>
                </tr>
            </table>
            <p class="border-t-4 border-r-0 border-b-0 border-l-0 bg-amber-50 text-amber-800 border-t-amber-800 rounded-md p-3" style="border-top-style: solid;">
                Attention lien n'est actif que 24 heures. S'il expire, il faudra demander à un administrateur d'envoyer un autre lien.
            </p>
    </div>
    <p>2.&nbsp;&nbsp;Définissez un mot de passe ou un Passkey (si votre appareil le permet)</p>
{% endblock %}
