Bonjour,

Votre compte Faclab® Numixs a été activé. Pour finaliser votre compte suivez les étapes suivantes&nbsp;:

1.&nbsp;&nbsp;Accédez à la page de finalisation de compte via le lien dédié : {{ activation_link }}

**Attention lien n'est actif que 24 heures. S'il expire, il faudra demander à un administrateur d'envoyer un autre lien.**

2.&nbsp;&nbsp;Suivez les étapes sur la page de finalisation de votre compte
