{% extends "layouts/email.njk" %}

{% block title %}
    Approvation de Faclab® Numixs
{% endblock %}

{% block content %}
    <table width="100%" cellpadding="0" cellspacing="0" class="px-3">
        <tr>
            <td align="center">
                <p class="m-1">Bonjour,</span></p>
                <p class="m-1">
                    Votre compte Faclab® Numixs a été approuvé. Pour finaliser votre compte suivez les étapes suivantes&nbsp;:
                </p>
            </td>
        </tr>
        <tr>
            <td align="center">
                1.&nbsp;&nbsp;Accédez à la page de finalisation de compte via le lien dédié :
            </td>
        </tr>
        <tr>
            <td align="center" class="py-3">
                <p class="border-t-4 border-r-0 border-b-0 border-l-0 bg-amber-50 text-amber-800 border-t-amber-800 rounded-md p-3 my-1" style="border-top-style: solid;">
                    Attention lien n'est actif que 24 heures. S'il expire, il faudra demander à un administrateur d'envoyer un autre lien.
                </p>
                <p>
                    <a
                    href="{{ activation_link }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="px-4 py-2 inline-block bg-green-numixs text-gray-numixs rounded-md"
                    >
                        Finaliser mon compte Faclab® Numixs
                    </a>
                </p>
            </td>
        </tr>
        <tr>
            <td align="center">
                2.&nbsp;&nbsp;Suivez les étapes sur la page de finalisation de votre compte
            </td>
        </tr>
    </table>
{% endblock %}
