.calendar-wrapper {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    position: absolute;
    position-anchor: --calendar-anchor;
    top: calc(anchor(--calendar-anchor bottom) + 10px);
    inset-inline: 2rem;

    header {
        display: flex;
        align-items: center;
        padding: 25px 30px 10px;
        justify-content: space-between;
    }

    .icons {
        display: flex;

        span {
            height: 38px;
            width: 38px;
            margin: 0 1px;
            cursor: pointer;
            color: #878787;
            text-align: center;
            line-height: 38px;
            font-size: 1.9rem;
            user-select: none;
            border-radius: 50%;

            &:last-child {
                margin-right: -10px;
            }

            &:is(:focus-within, :hover) {
                background: #f2f2f2;
            }
        }
    }

    header .current-date {
        font-size: 1.45rem;
        font-weight: 500;
    }

    .calendar {
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            text-align: center;
        }

        li {
            width: calc(100% / 7);
            font-size: 1.07rem;
        }

        .weeks {
            background-color: var(--color-black-numixs);
            padding: 12px 20px;
            font-size: var(--text-xl);

            li {
                color: var(--color-white-numixs) !important;
                font-weight: 500;
            }
        }

        .days {
            margin-bottom: 20px;
            padding: 20px;
            padding-top: 0;
            color: var(--color-gray-numixs);
            font-size: 1.07rem;

            a {
                display: block;
                height: 95%;
                width: 97%;
                margin-inline: auto;
                padding: 1.5rem;

                &.open {
                    border-bottom: 2px solid var(--color-green-numixs);
                }
            }
        }
    }
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    align-content: center;
}
.days li.inactive {
    color: #aaa;
}
.days li.active {
    a {
        color: var(--color-gray-numixs);
    background-color: var(--color-green-numixs);
    }
}
