.calendar-wrapper {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #8894AA;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    position: absolute;
    position-anchor: --calendar-anchor;
    top: calc(anchor(--calendar-anchor bottom) + 10px);
    inset-inline: 2rem;

    header {
        display: flex;
        align-items: center;
        padding: 25px 30px 10px;
        justify-content: space-between;
    }

    .calendar {
        ol {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            text-align: center;
        }

        li {
            width: calc(100% / 7);
            font-size: 1.07rem;
        }

        .weeks {
            background-color: var(--color-black-numixs);
            padding: 12px 20px;
            font-size: var(--text-xl);

            li {
                color: var(--color-white-numixs) !important;
                font-weight: 500;
            }
        }

        .days {
            padding: 20px;
            padding-block: calc(var(--spacing) * 1.5);
            color: var(--color-gray-numixs);
            font-size: 1.07rem;

            a {
                display: flex;
                height: 95%;
                width: 97%;
                margin-inline: auto;
                border: 2px solid transparent;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1;
                overflow: hidden;
                position: relative;

                @media screen and (width >= 640px) {
                    padding-block: 1.5rem;
                    aspect-ratio: auto;
                }

                &.open {
                    &::after {
                        content: "";
                        display: block;
                        inset-inline: 0;
                        height: 3px;
                        background-color: var(--color-green-numixs);
                        bottom: 0px;
                        position: absolute;
                    }
                }
            }

            li {
                z-index: 1;
                cursor: pointer;
                position: relative;
                align-content: center;
                opacity: 1;
                transition: opacity 0.1s;

                @starting-style {
                    opacity: 0;
                }

                &.active {
                    a {
                        color: var(--color-gray-numixs);
                        background-color: var(--color-green-numixs);
                    }
                }
                &.today {
                    a {
                        border-color: var(--color-dark-green-numixs);
                    }
                }

                &.inactive {
                    color: #aaa;

                    a.open::after {
                        background-color: rgb(
                            from var(--color-green-numixs) r g b / 33%
                        );
                    }
                }
            }
        }
    }

    .navigation-month {
        width: 2.5rem;
        overflow-x: clip;
        transition: width 0.35s ease;

        [data-month] {
            display: none;
            transition: opacity .15s ease, display .15s ease allow-discrete;

            @starting-style {
                opacity: 0;
            }
        }

        &:hover,
        &:focus-visible {
            width: max-content;
            [data-month] {
                display: initial;
                opacity: 1;
            }
        }
    }
}
