@import "tailwindcss";

@theme {
    --color-gray-numixs: #312f2f;
    /* #373736 */
    --color-black-numixs: #312f2f;
    /* --color-black-numixs: #2c3344; */
    --color-gray-input-border-numixs: #b6bcc8;
    --color-gray-input-numixs: #d9d5d5;
    --color-green-numixs: #d5d916;
    --color-dark-green-numixs: #acb115;
    --color-disabled: #f5f5f5;
    --color-white-numixs: #f5f5f5;

    --color-lime-*: initial;
    --color-fuchsia-*: initial;
    --color-cyan-*: initial;
    --color-orange-*: initial;
    --color-pink-*: initial;
    --color-amber-*: initial;
    --color-teal-*: initial;
    --color-emerald-*: initial;
    --color-purple-*: initial;
    --color-orange-*: initial;
}

@utility title-font {
    font-family: "Agency FB", sans-serif;
}

@layer components {
    .input {
        border: solid 1px var(--color-gray-input-border-numixs);
        background-color: rgb(from var(--color-gray-input-numixs) r g b / 83%);
        padding: --spacing(2);
    }

    .form-errors-list-container {
        border: solid 1px var(--color-red-500);
        background-color: var(--color-red-50);
        padding: --spacing(4);
        color: var(--color-red-800);
        list-style-type: disc;
        list-style-position: inside;
        border-radius: var(--radius-lg);
        scroll-margin: 105px; /* 60px */

        &:empty {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}

@custom-variant hocus {
    &:is(:hover, :focus-within, :active) {
        @slot;
    }
}

@custom-variant group-hocus {
    &:is(:where(.group):hover *, :where(.group):focus-within *) {
        @slot;
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
        view-transition-name: unset !important;
    }

    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
        animation: none !important;
    }
}

@view-transition {
    navigation: auto;
}

:root {
    font-family: "Calibri", sans-serif;

    /* --color-gray-numixs: #e0e0e0; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
    color: white;

    background: #312f2f;
    position: relative;

    &.register {
        background: url("/images/bottom-left-pattern.svg") no-repeat left bottom,
            url("/images/top-right-pattern.svg") no-repeat right top, #272626;
        &::after {
            content: "";
            position: fixed;
            width: 700px;
            aspect-ratio: 1 / 1;
            display: block;
            background-color: var(--color-green-numixs);
            right: -20%;
            bottom: -20%;
            z-index: -1;
            border-radius: 50%;
            filter: blur(550px);
            opacity: 0.25;
        }
    }

    &.admin {
        background: url("/images/bottom-left-pattern.svg") no-repeat left bottom,
            #272626;
    }
}

dialog {
    transition: display 350ms allow-discrete, overlay 350ms allow-discrete,
        opacity 350ms;
    opacity: 0;

    &[open] {
        opacity: 1;

        @starting-style {
            opacity: 0;
        }
    }
}

/* :not([type="checkbox"], [type="radio"]) */
input.error {
    border: solid 1px var(--color-red-800) !important;
}

.switch-container {
    &:has(.error) .switch {
        border-color: var(--color-red-800);
    }

    &:has(:checked) {
        background-color: var(--color-green-numixs);

        & .switch-container {
            background-color: var(--color-green-numixs);
        }

        [data-input-switch-toggle-recipient] {
            display: block;
            opacity: 1;
        }
    }

    &:not(:has(:checked)) {
        [data-input-switch-toggle-recipient] {
            display: none;
            opacity: 0;
        }
    }
}

[data-input-switch-toggle-recipient] {
    transition-property: opacity, display;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: ease-in;
    transition-behavior: allow-discrete;
    opacity: 1;
    display: block;

    @starting-style {
        opacity: 0;
    }
}

.split-button {
    --bg-color: var(--color-gray-numixs);
    --darken-percentage: 20%;
    --border-color: white;
    &.light {
        --bg-color: var(--color-white-numixs);
        --darken-percentage: 85%;
        --border-color: black;
        color: var(--color-gray-numixs);
    }
    display: inline-flex;
    border-radius: var(--radius-md);
    fill: currentColor;
    background-color: var(--bg-color);

    touch-action: manipulation;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    & > :is(a, button) {
        appearance: none;
        border: none;

        display: inline-flex;
        align-items: center;
        gap: 1ch;
        white-space: nowrap;

        font-family: inherit;
        font-size: inherit;
        font-weight: 500;

        padding-block: 1.25ch;
        padding-inline: 2.5ch;
        border-top-left-radius: var(--radius-md);
        border-bottom-left-radius: var(--radius-md);

        outline-offset: -5px;

        &:is(:focus, :hover) {
            background-color: oklch(from var(--bg-color) var(--darken-percentage) c h);
        }
    }

    .popup-button {
        inline-size: 4ch;
        cursor: pointer;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-start-end-radius: var(--radius-md);
        border-end-end-radius: var(--radius-md);
        border-inline-start: 1px solid var(--border-color);

        &:is(:focus-within, :hover) {
            background-color: oklch(from var(--bg-color) var(--darken-percentage) c h);

            & > svg {
                translate: 0 3px;
            }
        }

        &:focus-within {
            & > .split-popup {
                transition-duration: 350ms;
                opacity: 1;
                transform: translateY(0);
                pointer-events: auto;
            }

            /* & > svg {
                transition-duration: 350ms;
                transform: rotateZ(.5turn);
            } */
        }

        & > svg {
            transition: 150ms translate;
        }
    }

    .split-popup {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        list-style-type: none;

        border-radius: var(--radius-md);
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        transition: opacity 350ms ease;

        right: 0;
        top: 100%;
        gap: 0.35rem;
        padding: 0.25rem;

        @supports (position-anchor: --split-button) {
            position-anchor: --split-button;
            right: anchor(right);
            top: anchor(bottom);
            margin-top: 0.85rem;
        }
    }
}

button {
    cursor: pointer;
}
