@import "tailwindcss";

@theme {
    --color-gray-numixs: #312f2f;
    /* #373736 */
    --color-black-numixs: #2c3344;
    --color-gray-input-border-numixs: #b6bcc8;
    --color-gray-input-numixs: #d9d5d5;
    --color-green-numixs: #d5d916;
    --color-dark-green-numixs: #acb115;
    --color-disabled: #f5f5f5;
    --color-white-numixs: #f5f5f5;

    --color-lime-*: initial;
    --color-fuchsia-*: initial;
    --color-cyan-*: initial;
    --color-orange-*: initial;
    --color-pink-*: initial;
    --color-amber-*: initial;
    --color-teal-*: initial;
    --color-emerald-*: initial;
    --color-purple-*: initial;
    --color-orange-*: initial;
}

@utility title-font {
    font-family: "Agency FB", sans-serif;
}

@layer components {
    .input {
        border: solid 1px var(--color-gray-input-border-numixs);
        background-color: rgb(from var(--color-gray-input-numixs) r g b / 83%);
        padding: --spacing(2);
    }

    .form-errors-list-container {
        border: solid 1px var(--color-red-500);
        background-color: var(--color-red-50);
        padding: --spacing(4);
        color: var(--color-red-800);
        list-style-type: disc;
        list-style-position: inside;
        border-radius: var(--radius-lg);
        scroll-margin: 105px; /* 60px */

        &:empty {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}

@custom-variant hocus {
    &:is(:hover, :focus-within, :active) {
        @slot;
    }
}

@custom-variant group-hocus {
    &:is(:where(.group):hover *, :where(.group):focus-within *) {
        @slot;
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
        view-transition-name: unset !important;
    }

    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
        animation: none !important;
    }
}

:root {
    font-family: "Calibri", sans-serif;

    --color-gray-numixs: #e0e0e0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    /* background-color: var(--color-black-numixs); */
    scroll-behavior: smooth;
    color: white;

    background: url("/images/bottom-left-pattern.svg") no-repeat left bottom, url("/images/top-right-pattern.svg") no-repeat right top, var(--color-black-numixs);
}

/* :not([type="checkbox"], [type="radio"]) */
input.error {
    border: solid 1px var(--color-red-800) !important;
}

.signature-placeholder {
    &::after {
        content: url("/images/signature-placeholder.svg");
        position: absolute;
        pointer-events: none;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        pointer-events: none;
        opacity: 0.3;
    }
}

.switch-container {
    &:has(.error) .switch {
        border-color: var(--color-red-500);
    }
}

[data-input-switch-toggle-recipient] {
    transition-property: opacity, display;
    transition-duration: 0.25s, 0.25s;
    transition-timing-function: ease-in;
    transition-behavior: allow-discrete;
    opacity: 1;
    display: block;

    @starting-style {
        opacity: 0;
        /* display: none; */
    }

    &.hidden {
        display: none;
        opacity: 0;
    }
}
