@import "tailwindcss";

@theme {
    --color-gray-numixs: #312f2f;
    /* #373736 */
    --color-black-numixs: #2c3344;
    --color-gray-input-border-numixs: #b6bcc8;
    --color-gray-input-numixs: #d9d5d5;
    --color-green-numixs: #d5d916;
    --color-dark-green-numixs: oklch(
        from var(--color-green-numixs) calc(l * 0.9) c h
    );

    --color-lime-*: initial;
    --color-fuchsia-*: initial;
    --color-cyan-*: initial;
    --color-orange-*: initial;
}

@utility title-font {
    font-family: "Agency FB", sans-serif;
}

@layer components {
    .input {
        border: solid 1px var(--color-gray-input-border-numixs);
        background-color: rgb(from var(--color-gray-input-numixs) r g b / 83%);
        padding: --spacing(2);
    }

    .error-container {
        border: solid 1px var(--color-red-800);
        background-color: var(--color-red-50);
        padding: --spacing(4);
        color: var(--color-red-800);
        list-style-type: disc;
        list-style-position: inside;
        border-radius: var(--radius-lg);

        &:empty {
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}

@custom-variant hocus {
    &:is(:hover, :focus-within) {
        @slot;
    }
}

@custom-variant group-hocus {
    &:is(:where(.group):hover *, :where(.group):focus-within *) {
        @slot;
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
        view-transition-name: unset !important;
    }

    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
        animation: none !important;
    }
}

:root {
    font-family: Calibri, sans-serif;

    --color-gray-numixs: #e0e0e0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: var(--color-gray-numixs);
    scroll-behavior: smooth;
}

/* :not([type="checkbox"], [type="radio"]) */
input.error {
    border: solid 1px var(--color-red-800);
}
