@import "tailwindcss";

@theme {
    --color-gray-numixs: #e0e0e0;
    --color-black-numixs: #2c3344;
    --color-gray-input-border-numixs: #b6bcc8;
    --color-gray-input-numixs: #d9d5d5;
    --color-green-numixs: #d5d916;

    --color-lime-*: initial;
    --color-fuchsia-*: initial;
    --color-cyan-*: initial;
    --color-orange-*: initial;
}

@utility title-font {
    font-family: "Agency FB", sans-serif;
}

@layer components {
    .input {
        border: solid 1px var(--color-gray-input-border-numixs);
        background-color: rgb(from var(--color-gray-input-numixs) r g b / 83%);
        padding: --spacing(2);
    }
}

:root {
    font-family: Calibri, sans-serif;

    --color-gray-numixs: #e0e0e0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: var(--color-gray-numixs);
}
