.notification {
    transition: opacity 0.3s ease, translate 0.3s ease, display 0.3s ease allow-discrete;
    opacity: 1;

    @starting-style {
        opacity: 0;
        translate: -120% 0;
    }

    &.close {
        translate: -120% 0;
        opacity: 0;
    }
}