.split-button {
    --bg-color: var(--color-gray-numixs);
    --darken-percentage: 20%;
    --border-color: white;
    &.light {
        --bg-color: var(--color-white-numixs);
        --darken-percentage: 85%;
        --border-color: black;
        color: var(--color-gray-numixs);
    }
    display: inline-flex;
    border-radius: var(--radius-md);
    fill: currentColor;
    background-color: var(--bg-color);

    touch-action: manipulation;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    & > :is(a, button) {
        appearance: none;
        border: none;

        display: inline-flex;
        align-items: center;
        gap: 1ch;
        white-space: nowrap;

        font-family: inherit;
        font-size: inherit;
        font-weight: 500;

        padding-block: 1.25ch;
        padding-inline: 2.5ch;
        border-top-left-radius: var(--radius-md);
        border-bottom-left-radius: var(--radius-md);

        outline-offset: -5px;

        &:is(:focus, :hover) {
            background-color: oklch(
                from var(--bg-color) var(--darken-percentage) c h
            );
        }
    }

    .popup-button {
        inline-size: 4ch;
        cursor: pointer;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-start-end-radius: var(--radius-md);
        border-end-end-radius: var(--radius-md);
        border-inline-start: 1px solid var(--border-color);

        &:is(:focus-within, :hover) {
            background-color: oklch(
                from var(--bg-color) var(--darken-percentage) c h
            );

            & > svg {
                translate: 0 3px;
            }
        }

        &:focus-within {
            & > .split-popup {
                transition-duration: 350ms;
                opacity: 1;
                transform: translateY(0);
                pointer-events: auto;
            }

            /* & > svg {
                transition-duration: 350ms;
                transform: rotateZ(.5turn);
            } */
        }

        & > svg {
            transition: 150ms translate;
        }
    }

    .split-popup {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        list-style-type: none;

        border-radius: var(--radius-md);
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
        transition: opacity 350ms ease;

        right: 0;
        top: 100%;
        gap: 0.35rem;
        padding: 0.25rem;

        @supports (position-anchor: --split-button) {
            position-anchor: --split-button;
            right: anchor(right);
            top: anchor(bottom);
            margin-top: 0.85rem;
        }
    }
}
