<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} – Faclab Numixs</title>
    <script type="module" src="/src/assets/scripts/main.js" defer></script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>