<!DOCTYPE html>
<html lang="fr" class="min-h-screen {{ root_class }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %} – Faclab Numixs</title>

            <link rel="stylesheet" href="/fonts/fonts.css">

        {% if NODE_ENV == "development" %}
            <script type="module" src="/src/assets/scripts/main.ts" defer></script>
        {% else %}
            <script type="module" src="/utils.shared-ynHin5l2.js" defer></script>
            <script type="module" src="/compteur-de-visiteurs.js" defer></script>
            <link rel="stylesheet" href="/compteur-de-visiteurs.css">
        {% endif %}
        <link rel="shortcut icon" href="/images/faclab-logo.svg" type="image/x-icon">
        {% block scripts %}{% endblock %}
    </head>
    <body>
        {% block root %}{% endblock %}
    </body>
</html>
