<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
            {{tailwindCss | safe}}
    </style>
</head>
<body class="bg-gray-numixs text-white-numixs">
    {% block content %}{% endblock %}
</body>
</html>
