{% set primary_green_button_classes = "text-green-numixs inline-flex w-fit title-font text-2xl gap-2.5 py-3.5 font-bold hocus:text-white items-center" %}

{% extends "layouts/base.njk" %}
{% block root %}
    <main class="mt-10 mb-8">
        {% block content %}{% endblock %}
    </main>
{% endblock %}
