{% extends "layouts/page.njk" %}

{% block title %}
    {% if is_edit %}
Éditer utilisateur
{% else %}
Créer utilisateur
{% endif %}
{% endblock %}
{% set active_menu_item = "utilisateurs" %}
{% import "includes/macros.njk" as forms %}

{% block scripts %}
    {% if NODE_ENV == "development" %}
        <script type="module" src="/src/assets/scripts/user-form.ts" defer></script>
        <script type="module" src="/src/assets/scripts/toggle-input-visibility.ts" defer></script>
    {% else %}
        <script type="module" src="/{{ manifest['src/assets/scripts/toggle-input-visibility.ts'].file }}" defer></script>
        <script type="module" src="/{{ manifest['src/assets/scripts/user-form.ts'].file }}" defer></script>
    {% endif %}
{% endblock %}

{% set date_format = "dd/LL/yyyy à HH:mm" %}
{% set root_class = "admin" %}
{% block content %}
    <div data-notifications-container class="fixed left-2 top-2 z-50 empty:h-0"></div>
    <div class="mt-8 pr-[max(env(safe-area-inset-right),_theme(space.3))] pl-[max(env(safe-area-inset-left),_theme(space.3))] grid grid-cols-1 xl:grid-cols-[260px_minmax(0,_1fr)] gap-6 text-black-numixs">
        {% include "includes/admin-nav.njk" %}
        <div class="bg-slate-50 rounded-md py-5 px-6 md:py-10 md:px-13">
            <header class="flex flex-row justify-between md:items-center mb-10 -mt-1.5">
                <h1 class=" title-font font-bold text-4xl md:text-6xl">
                    Liste Passkeys
                </h1>
            </header>

            <div>
                <h2 class="text-lg font-bold">Un passkey, c'est quoi ?</h2>
                <p>Un passkey est un mot de passe de moderne et infalsifiable. Il vient combler les limites des mots de passe traditionnels qui peuvent être volés. En effet, le passkey permet l'authentification biométrique (empreinte digitale, reconnaissance faciale, yubikey...), ainsi plus de mots de passe à retenir et mots de passe invulnérables à toute compromission de base de données.</p>
                <p class="mt-2">Vous pouvez avoir plusieurs passkeys, il vous suffira de les gérer depuis votre espace "mon compte". Car chaque passkey est <span class="font-bold">associé à un appareil.</span> Toutefois, il existe des passkeys dit "synchronisés" qui sont liés à votre compte Apple, Google ou Microsoft.</p>
            </div>

            {% include "includes/hello-banner.njk" %}

            <div class="text-black-numixs mt-5">
                <h2 class="text-lg font-bold">Mes passkeys</h2>

                {{ user | json}}
                <ul>
                    {% for passkey in user.listPasskeys %}
                        <li>
                            <button class="flex flex-col items-start" type="button">
                                <span class="text-lg font-bold">Dernière utilisation : {{ passkey.derniere_utilisation | date("dd-LL-yyyy 'à' HH:mm") }}</span>
                                <span>Crée le {{ passkey.date_creation | date("dd-LL-yyyy 'à' HH:mm") }}</span>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% include "includes/detail-roles.njk" %}
{% endblock %}